name: updatecli
on:
  pull_request:
  workflow_dispatch:
  schedule:
    # Run once a week
    - cron: '0 2 * * 1' # Every monday at 2am UTC
permissions:
  id-token: write
  contents: write
  pull-requests: write
jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: 'Az CLI login'
        uses: azure/login@v1
        with:
          client-id: c1e0233b-c18f-4a04-b458-bd60fbecb7cf # DTS SDS AKS version checker
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true
      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@v2
        with:
          version: v0.85.0
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.DEPENDENCY_UPDATER_APP_ID }}
          private_key: ${{ secrets.DEPENDENCY_UPDATER_APP_PRIVATE_KEY }}
      - name: Install YQ
        uses: mikefarah/yq@master
      - name: Run Updatecli in Dry Run mode
        run: |
          yq -r '.environments | to_entries | map(select(.value.enabled == true)) | .[].key' updatecli/values.github-action.yaml | while read i
          do
              CURRENT_ITER_ENVIRONMENT="$i" updatecli diff --config ./updatecli/updatecli.d --values ./updatecli/values.github-action.yaml
          done
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
      - name: Run Updatecli in Apply mode
        if: github.ref == 'refs/heads/master'
        run: |
          yq -r '.environments | to_entries | map(select(.value.enabled == true)) | .[].key' updatecli/values.github-action.yaml | while read i
          do
              CURRENT_ITER_ENVIRONMENT="$i" updatecli apply --config ./updatecli/updatecli.d --values ./updatecli/values.github-action.yaml
          done
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
